fetched_calculator_workflow.json
{"updatedAt":"2026-02-06T02:17:42.356Z","createdAt":"2025-12-01T18:13:49.901Z","id":"jNsZ7b8Vwc5FsLcg","name":"CALCULATOR","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.data }}","options":{"systemMessage":"Jij bent een technisch tekstschrijver voor de Nederlandse bouwsector. Transformeer calculatiedata naar een stappenplan voor een vakman. \n\nDOEL: Een realistische WERKBESCHRIJVING in bullet points die dient als basis voor een uren-inschatting.\n\nREGELS:\n- Gebruik uitsluitend bullet points met korte, directe regels.\n- Beschrijf fysieke handelingen (plaatsen, monteren, afwerken).\n- Focus op de volgorde van werken en de complexiteit (hoeken, sparingen, details).\n- GEEN prijzen, GEEN hoeveelheden, GEEN uren of tijdsindicaties.\n- Gebruik vaktermen (h.o.h., SLS, regelwerk, AK).\n\nSTIJL:\n- Direct, technisch en nuchter.\n- Geen inleiding of afsluiting.\n- Output uitsluitend in JSON-formaat.\n\nREGELS:\n- korteTitel: Maximaal 4 woorden, beschrijf WAT er gebouwd wordt\n- korteBeschrijving: Maximaal 2 zinnen, klantvriendelijk, geen vaktermen\n- werkbeschrijving: Volledige technische stappen zoals voorheen\n\nOUTPUT:\nHoud je strikt aan het JSON-schema.\n\n{\n  \"korteTitel\": \"2-4 woorden (bijv: 'Voorzetwand plaatsen', 'Plafond afwerken')\",\n  \"korteBeschrijving\": \"1-2 zinnen die het werk samenvatten voor de klant. Geen vaktermen, wel duidelijk WAT er gemaakt wordt.\",\n  \"werkbeschrijving\": [\n    { \"stap\": \"Inmeten en uitzetten van wandlijnen op vloer, plafond en aangrenzende wanden.\" },\n    { \"stap\": \"Controleren van haaksheid, hoogtes en bestaande aansluitdetails.\" },\n    { \"stap\": \"Monteren van onder- en bovenregels volgens maatvoering.\" }\n  ]\n}"}},"id":"2ba5e371-183e-4ead-a194-0ed629cf21f2","name":"Werkzaamheden","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-432,1136]},{"parameters":{"promptType":"define","text":"={{ $json.data }}","options":{"systemMessage":"### ROL\nJij bent de Senior Calculator voor Offertehulp. Jouw expertise is het inschatten van arbeidsuren voor timmerwerkzaamheden op basis van een gedetailleerde werkbeschrijving en materiaalgegevens.\n\n### TAAK\n1. Analyseer de \"werkbeschrijving\" en de \"materialen\" uit de binnenkomende JSON.\n2. Bereken voor elke hoofdcategorie van werkzaamheden het aantal benodigde uren. Gebruik hiervoor marktconforme normen voor een vakkundige timmerman.\n\n### OUTPUT FORMAT (STRICT JSON)\nGenereer een JSON-object met de volgende velden:\n- \"uren_specificatie\": Een array van objecten met {\"taak\": \"Beschrijving van de werkzaamheid\", \"uren\": numeriek_getal}.\n- \"totaal_uren\": De som van alle uren in de specificatie.\n\n### STRIKTE REGELS\n- GEEN projectdetails of materiaalberekeningen herhalen.\n- GEEN inleidende tekst of uitleg.\n- GEEN markdown codeblocks (geen ```json).\n- De uren moeten realistisch zijn voor een professionele timmerman; niet te optimistisch, niet te ruim.\n- Output UITSLUITEND het JSON-object.\n\nUren afronden naar hele uren:\n\ntotaal_uren moet ALTIJD een geheel getal zijn (geen decimalen)\nVerdeel het verschil logisch over de taken zodat de som klopt\n\nRekenvoorbeeld:\nAls de ruwe uren uitkomen op 27,8 → rond af naar 28 uur totaal.\nVerschil = 0,2 uur dat verdeeld moet worden over de taken.\nVerdeelregels:\n\nVoeg extra tijd toe aan taken die al substantieel zijn (3+ uur), niet aan kleine taken\nHoud de aangepaste uren \"geloofwaardig\" - een taak van 0,5 uur wordt geen 1,3 uur\nPas bij voorkeur taken aan waar 0,5 uur verschil niet opvalt (bijv. 5,5 → 6,0 of 9,5 → 10,0)\nVermijd onnatuurlijke getallen zoals 2,7 of 4,3 - rond naar .0 of .5 waar mogelijk\n\nGoed voorbeeld:\n\nRegelwerk monteren: 9,5 → 10,0 uur (+0,5)\nGipsplaten monteren: 5,0 → 5,0 uur (ongewijzigd)\nOpruimen: 1,5 → 1,5 uur (ongewijzigd)\n\nFout voorbeeld:\n\nOpruimen: 0,5 → 1,3 uur ❌ (ongeloofwaardig, kleine taak te veel opgehoogd)\n\n### VOORBEELD OUTPUT\n{\n  \"uren_specificatie\": [\n    { \"taak\": \"Inmeten, uitzetten en wandconstructie vuren 50x75\", \"uren\": 8.5 },\n    { \"taak\": \"Aanbrengen isolatie en dampremmende folie\", \"uren\": 3.0 },\n    { \"taak\": \"Dubbele beplating (OSB + Gips) beide zijden\", \"uren\": 12.0 },\n    { \"taak\": \"Afwerken naden, kitwerk en plaatsen plinten\", \"uren\": 4.5 }\n  ],\n  \"totaal_uren\": 28.0\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-432,1520],"id":"2d84e3ba-eb62-4f76-b9ba-d07af317e256","name":"UREN BEREKENING"},{"parameters":{"httpMethod":"POST","path":"/offerte-test","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2320,464],"id":"70bf7823-992b-41e2-b44f-d3c5b0ab5bb6","name":"Webhook","webhookId":"5928472e-4bb1-4145-a428-7f21fbd781be","credentials":{"httpHeaderAuth":{"id":"2X8epHPTRdeZPB0N","name":"Header Auth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a6ff2d92-501f-4b2d-83a5-7090b2259a51","name":"body.quoteId","value":"={{ $('Webhook').item.json.body.quoteId }}","type":"string"},{"id":"a21f0086-10de-4eec-b1de-415e2e82b01f","name":"body.quote.userId","value":"={{ $('Webhook').item.json.body.quote.userId }}","type":"string"},{"id":"5abbc27f-04ba-4dd3-be06-8f487df93650","name":"body.quote.klussen","value":"={{ $('Webhook').item.json.body.quote.klussen }}","type":"array"},{"id":"f040338c-6fd9-4a20-8a6f-bb23e4663e26","name":"body.quote.quote_notes","value":"={{ $('Webhook').item.json.body.quote.quote_notes }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2320,720],"id":"12358a78-3df9-4320-9292-d377f20613f5","name":"Edit Fields6"},{"parameters":{"promptType":"define","text":"={{ $json.data }}","options":{"systemMessage":"=Jij bent een deskundige bouw-adviseur en logistiek planner voor timmerlieden. Jouw doel is om de 'vergeten materialen' te identificeren. Je ontvangt een JSON met \"project_details\" en de huidige \"materialen\".\n\nTAAK:\n1. Analyseer de klus (bijv. HSB wand, Plafond metalstud) en de huidige materiaallijst.\n2. Identificeer ELK ontbrekend klein materiaal of verbruiksartikel dat essentieel is om deze klus van A tot Z af te ronden zonder dat de timmerman terug naar de bouwmarkt moet.\n3. Genereer een suggestielijst met uitsluitend de Productnaam en het benodigde Aantal.\n\n### CALCULATIE LOGICA (Suggestie-algoritme)\nBereken de aantallen op basis van de projectafmetingen en rond ALTIJD af naar boven (hele dozen/rollen/kokers).\n\n- ALGEMENE VERBRUIKSARTIKELEN: Voeg standaard een suggestie toe voor zaken als: schuurgaas, afvalzakken, of werkhandschoenen indien de klus daarom vraagt.\n\nSTRIKTE REGELS VOOR DE OUTPUT:\n- GEEN prijzen. GEEN totaalbedragen. GEEN calculaties in de tekst.\n- UITSLUITEND de productnaam en het aantal.\n- Output als een schone JSON-array van objecten.\n- GEEN inleidende tekst, GEEN Markdown-codeblocks (geen ```json), en GEEN uitleg achteraf.\n- De JSON moet direct parseerbaar zijn door n8n.\n- Wat in de input lijst staat mag NIET in de output staan.\n- Geen timmermanspotloded. \n- Zet geen verbruiksartikelen in de output als dit niet uitsluitend TIMMERWERKEN is, indien dit uitsluitend aangegeven was in de input. bijvoorbeeld; naden vullen = verbruiksartikel als dit niet staat aangegeven. dit is namelijk stucwerk, MAAR LET OP zodra er toch naden vullen aangegeven staat in de input zorg dan inderdaad voor verbruiksartikelen hiervoor.\n\n\nOUTPUT FORMAT;\n\n[\n  {\n    \"verbruiksartikelen\": [\n      {\n        \"product\": \"Naam van het verbruiksartikel + specificatie (bijv. Gipsplaatschroeven 3.9x35mm)\",\n        \"aantal\": 1,\n        \"eenheid\": \"doos\"\n      }\n    ]\n  }\n]\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-432,720],"id":"82905ba4-f002-4842-b9d8-e972d19ad67f","name":"KLEIN MATERIAAL"},{"parameters":{"operation":"update","tableId":"quotes_collection","matchType":"allFilters","filters":{"conditions":[{"keyName":"quoteid","condition":"eq","keyValue":"={{ $json.offerteid }}"},{"keyName":"gebruikerid","condition":"eq","keyValue":"={{ $json.gebruikerid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"={{ $json.status }}"},{"fieldId":"data_json","fieldValue":"={{ $json.data }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[656,1520],"id":"f8fedc45-b857-49b5-8989-eb1d77e50799","name":"Update a row","credentials":{"supabaseApi":{"id":"YiaQWXagjDuvv2J4","name":"Supabase account"}}},{"parameters":{"tableId":"quotes_collection","fieldsUi":{"fieldValues":[{"fieldId":"quoteid","fieldValue":"={{ $json.body.quoteId }}"},{"fieldId":"gebruikerid","fieldValue":"={{ $json.body.quote.userId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2096,464],"id":"67e51600-3738-4ea3-af25-2d225270967c","name":"Create a row","credentials":{"supabaseApi":{"id":"YiaQWXagjDuvv2J4","name":"Supabase account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-768,1136],"id":"b92a9fec-3c11-443e-9145-5555bdd2ec1f","name":"Aggregate2"},{"parameters":{"promptType":"define","text":"={{ JSON.stringify($json.body, null, 2) }}\n","hasOutputParser":true,"options":{"systemMessage":"=JE BENT een timmerman in de bouwsector met enorm veel vakkennis voor timmerklussen. Zie jezelf voor als timmerman die een werk uitrekent op basis van timmerman ervaring en de embedded rekenregels in `materialen_lijst[*].rule`.\nReken per materiaal uit de totale aantal materialen nodig voor deze klus volgens nederlandse timmerman bouwnormen.\n\n--------------------------------------------------------------------------------\n\nHARD RULES;\n\n- NOOIT ZELF MATERIALEN VERZINNEN, GEBRUIK PUUR ALLEEN WAT ER IN DE INPUT STAAT.\n- JE MAG ALLEEN DE MATERIALEN BEREKENEN DIE IN DE INPUT STAAT, NIKS ANDERS.\n- if there are no openings mentioned, that means the user did not fill them in. the risk is on the user if they 'forget'\n- Je MOET 'prijs_per_stuk' in de output hebben ook als is deze als 0 aangegeven.\n- Zorg ervoor dat je de input die je krijgt als 'source of truth' gebruikt. dit geldt extreem streng zoals in de hard rules is aangegeven, dus geen 'stucvuller' berekenen als er in de materialen, lijst, niks staat hierover.\n- Gebruik uitsluitend `body.quote.klussen[*].materialen.materialen_lijst[*].rule` als regelbron per materiaal.\n- Als `rule` ontbreekt, gebruik fallback-berekening en noteer dit expliciet in `hoe_berekend`. \n\n--------------------------------------------------------------------------------\n\nTAAK;\n\n### ALGEMENE WERKWIJZE (HET STAPPENPLAN):\n\n1.\n\nINPUT VALIDATIE & CONDITIONELE CHECK:\n- Basisafmetingen: Stel de bruto afmetingen vast uit de `[slug]_maatwerk` data.\n- Check op Openingen: Controleer of er een lijst met 'openingen', 'sparingen' of 'ramen/deuren' aanwezig is.\nALS deze lijst leeg is of ontbreekt: Ga direct door naar stap 2 en reken met het volledige (bruto) oppervlak.\nALS er wel openingen zijn: Noteer het aantal en de m2 per opening voor de netto-aftrek in stap 4.\n- Componenten & Notities:** Inventariseer de `components` en `notities`. Reageer alleen op expliciete instructies.\n\n\n2. \n\nVALIDATIE VIA EMBEDDED RULES (STRICT):\n- Lees per materiaal de bijbehorende rule uit:\nbody.quote.klussen[*].materialen.materialen_lijst[*].rule\n- Gebruik deze rule als bron van waarheid voor de constructielogica van dat materiaal.\n- Reken uitsluitend materialen uit die in de input staan.\n\n\n3.\n\nVERBRUIKSONDERZOEK (RESEARCH AGENT) (optioneel):\n- Gebruik de RESEARCH VERBRUIK AGENT tool om vebruik op te zoeken indien dit niet is aangegeven\n- Vertaal het verbruik (bijv. 0,5 kg/m2) naar het aantal eenheden (bijv. 20kg emmers)\n- NIET GEBRUIKEN VOOR ISOLATIE ETC. Wat duidelijk kan uitgerekend worden, heeft de tool call niet nodig. \n\nBijvoorbeeld;\n\nGoed = jointfiller 5kg voor naden vullen, Absoluut onduidelijk hoeveel dit vebruik is = tool call.\n\nFout = Knauf Acoustifit 1350x600mm 70mm dik Rd 1.85) wand is 5000x2600? duidelijk uit te rekenen hoeveel per stuk nodig is! geen tool call nodig.\n\n4. \n\nHOE BEREKEND:\nLaat duidelijk zien hoe dit materiaal is berekend zodat er analyse kan gedaan worden voor uiteindelijke verbeter punten. geef dus duidelijk genoeg informatie aan, maar zet geen 'verbeteringspunten hier in'. Gebruik de 'hoe berekend' puur alleen voor je eigen gedachte proccessen over hoe dit berekend is.\n\n\n--------------------------------------------------------------------------------\n\nOUTPUT FORMAT;\nHoud je strikt aan het JSON-schema. Voeg NOOIT extra keys toe die niet in het voorbeeld staan.\n\n{\n  \"quote_metadata\": {\n    \"quoteid\": \"{{ $json.body.quoteId }}\",\n    \"userid\": \"{{ $json.body.quote.userId }}\"\n  },\n  \"materialen\": [\n    {\n      \"materiaal\": \"originele naam\",\n      \"klus_type\": \"{{ $json.body.quote.klussen[0].maatwerk.meta.slug }}\",\n      \"prijs_per_stuk\": 0,\n      \"aantal\": 15,\n      \"hoe_berekend\": \"uitleg hoe dit berekend is. gebruik duidelijke informatie for analyse of dit correct berekend was.\",\n      \"slotKey\": \"orginele slotkey van materiaal\"\n    }\n  ]\n }"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-1808,720],"id":"9a7ceb8e-d9a7-464d-b507-3d1bedcf949c","name":"BEREKENING"},{"parameters":{"assignments":{"assignments":[{"id":"aca96d52-3818-4898-ac3c-6bcb2bf4d641","name":"materialen","value":"={{ $json.materialen }}","type":"array"},{"id":"7ae433a1-ca39-4a8c-bafc-2378dfe5aae5","name":"body.quote.klussen[0].maatwerk","value":"={{ $('Edit Fields6').item.json.body.quote.klussen[0].maatwerk }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1136,720],"id":"8eacb2b9-e3a2-430f-8627-fae3a932b918","name":"output.materialen"},{"parameters":{"assignments":{"assignments":[{"id":"5d0d699b-a5a5-4934-8a40-736a6581de29","name":"verbruiksartikelen","value":"={{ $json.output }}","type":"array"},{"id":"9d6594c3-0310-4019-a456-38dd332c9fa1","name":"materialen","value":"={{ $('output.materialen').item.json.materialen }}","type":"array"},{"id":"40488137-fc3b-4fa6-a2f6-8d4056689355","name":"body","value":"={{ $('output.materialen').item.json.body }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1104,1136],"id":"594ce0b0-40a8-4e24-9ff6-df4b903cf95a","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"4ce71885-25d4-422d-a915-fba8edb69523","name":"output","value":"={{ $json.output }}","type":"object"},{"id":"ca0fe51f-7d5c-4c99-96a9-4fe79e87662c","name":"verbruiksartikelen","value":"={{ $('Edit Fields').item.json.verbruiksartikelen }}","type":"array"},{"id":"2d2b8a89-a2fe-4f0b-aece-9cceb918ffcb","name":"Grootmaterialen","value":"={{ $('output.materialen').item.json.materialen }}","type":"array"},{"id":"266c8e98-c88f-48cd-8c25-395d027f4234","name":"maatwerk","value":"={{ $('Edit Fields').item.json.body }}","type":"object"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1136,1520],"id":"62ed5d83-180d-49fd-b19d-27b169b3f43b","name":"Edit Fields4"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-768,1520],"id":"7a0e73eb-d23c-4f55-acf9-2a7b17feb584","name":"Aggregate1"},{"parameters":{"assignments":{"assignments":[{"id":"8e41fb5d-0909-43d9-94d9-296fd0f3794d","name":"uren_specificatie","value":"={{ $json.output }}","type":"object"},{"id":"55e6bcd8-2d89-4457-841a-08f3f5aecdbd","name":"werkbeschrijving","value":"={{ $('Edit Fields4').item.json.output }}","type":"object"},{"id":"729b25d5-f2c9-423f-bbc0-7c4fd53bb515","name":"verbruiksartikelen","value":"={{ $('Edit Fields4').item.json.verbruiksartikelen }}","type":"array"},{"id":"3e6af69f-19bc-4bfd-9b91-3d3ed9735a9c","name":"body.quote.offerteNummer","value":"={{ $('Webhook').item.json.body.quote.offerteNummer }}","type":"string"},{"id":"2a6f2298-8baf-4520-8a46-66d2a4874d06","name":"body.quote.instellingen","value":"={{ $('Webhook').item.json.body.quote.instellingen }}","type":"string"},{"id":"f84ff38b-0942-4458-a2d4-da8e3499ed67","name":"body.quote.extras","value":"={{ $('Webhook').item.json.body.quote.extras }}","type":"string"},{"id":"7175a399-5443-43a8-b4a6-a1bd5dae132e","name":"body.quote.klantinformatie","value":"={{ $('Webhook').item.json.body.quote.klantinformatie }}","type":"string"},{"id":"f8864c5a-e729-47c0-963c-af158958e9d1","name":"grootmaterialen","value":"={{ $('output.materialen').item.json.materialen }}","type":"array"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,1520],"id":"540c5aa2-daeb-48fa-b388-9196f912e226","name":"Edit Fields3"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[208,1520],"id":"c1b7d967-0564-4702-8ec5-1477bc17a4cc","name":"Aggregate"},{"parameters":{"modelName":"models/gemini-3-pro-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1904,944],"id":"7969c9d3-d6d0-4efe-9542-fd034e8381a2","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"gKZ0LTeFHN8nsrZY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"function cleanEmpty(obj) {\n  if (Array.isArray(obj)) {\n    return obj\n      .map(item => cleanEmpty(item))\n      .filter(item => item !== null && item !== undefined && item !== '' && item !== 'empty' &&\n        !(typeof item === 'object' && Object.keys(item).length === 0));\n  }\n  if (obj && typeof obj === 'object') {\n    const cleaned = {};\n    for (const [key, value] of Object.entries(obj)) {\n      const cleanedValue = cleanEmpty(value);\n      if (\n        cleanedValue !== null && \n        cleanedValue !== undefined && \n        cleanedValue !== '' &&\n        cleanedValue !== 'empty' &&\n        !(Array.isArray(cleanedValue) && cleanedValue.length === 0) &&\n        !(typeof cleanedValue === 'object' && !Array.isArray(cleanedValue) && Object.keys(cleanedValue).length === 0)\n      ) {\n        cleaned[key] = cleanedValue;\n      }\n    }\n    return cleaned;\n  }\n  return obj;\n}\n\nreturn {\n  json: {\n    body: cleanEmpty($input.item.json.body)\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2096,720],"id":"793a1424-ae72-4639-aa27-4a2375401116","name":"Code in JavaScript1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-768,720],"id":"8e87669b-70ec-4afe-b56a-141afad59bd8","name":"Aggregate3"},{"parameters":{"assignments":{"assignments":[{"id":"3222599a-53a9-4eb9-b510-a9db12e4dec9","name":"gebruikerid","value":"={{ $('Edit Fields6').item.json.body.quote.userId }}","type":"string"},{"id":"97748d4c-876c-48fa-8bf1-d9bc8c2884e5","name":"offerteid","value":"={{ $('Edit Fields6').item.json.body.quoteId }}","type":"string"},{"id":"57686f05-5b95-4379-8371-c0bc9b1acf0a","name":"data","value":"={{ $json.data }}","type":"array"},{"id":"4377ec5e-b035-4bb4-ba14-741263bec572","name":"status","value":"completed","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,1520],"id":"1be5c02d-4032-47bc-bfed-42656c0dcaa4","name":"Edit Fields1"},{"parameters":{"messages":{"message":[{"content":"You are a construction material researcher. \nReturn ONLY a raw JSON object. NO prose. NO headers.\nFormat: {\"usage_rate\": number, \"unit\": \"kg/m2 or m1/m2\", \"source\": \"brand name\"}","role":"system"},{"content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message1_Text', `vind het verbruik voor het materiaal`, 'string') }}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexityTool","typeVersion":1,"position":[-1760,944],"id":"af7f8ece-a731-48f5-a0ed-2a085e412d07","name":"RESEARCH VERBRUIK AGENT","credentials":{"perplexityApi":{"id":"wyWbnVG9xuiS7l1M","name":"Perplexity account"}}},{"parameters":{"jsCode":"// Pak de eerste item uit de input\nconst inputData = items[0].json;\n\n// De AI stuurt de JSON vaak terug als een string binnen het \"output\" veld\n// We verwijderen de markdown code blocks (```json ... ```) als die er staan\nlet cleanString = inputData.output.replace(/```json/g, '').replace(/```/g, '').trim();\n\n// Parse de string terug naar een echt JSON object\nconst parsedJson = JSON.parse(cleanString);\n\n// Geef het object terug zodat n8n de velden (materialen, metadata) direct herkent\nreturn parsedJson;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1440,720],"id":"e2c17a37-9c0a-44ab-9c4c-7672947b6204","name":"Code in JavaScript"},{"parameters":{"workflowId":{"__rl":true,"value":"CTeGBzG7H9Sg1kpk","mode":"list","cachedResultUrl":"/workflow/CTeGBzG7H9Sg1kpk","cachedResultName":"ANALYSE"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1136,448],"id":"8a0c9563-76ca-4e11-9ddd-935a8a3a206c","name":"Call 'ANALYSE'","disabled":true},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-432,944],"id":"5061267f-d849-4041-9c5d-adc282cb2bf9","name":"chat","credentials":{"googlePalmApi":{"id":"gKZ0LTeFHN8nsrZY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-432,528],"id":"3a83ae36-e7bb-4610-a801-6dd98c7f6194","name":"chat1","credentials":{"googlePalmApi":{"id":"gKZ0LTeFHN8nsrZY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-432,1360],"id":"1b32d586-e5e8-4f99-abbe-882c6457c76c","name":"chat2","credentials":{"googlePalmApi":{"id":"gKZ0LTeFHN8nsrZY","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Werkzaamheden":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"UREN BEREKENING":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"KLEIN MATERIAAL":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Werkzaamheden","type":"main","index":0}]]},"BEREKENING":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"output.materialen":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"UREN BEREKENING","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"BEREKENING","type":"ai_languageModel","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"BEREKENING","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"KLEIN MATERIAAL","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Update a row","type":"main","index":0}]]},"RESEARCH VERBRUIK AGENT":{"ai_tool":[[]]},"Code in JavaScript":{"main":[[{"node":"output.materialen","type":"main","index":0},{"node":"Call 'ANALYSE'","type":"main","index":0}]]},"Call 'ANALYSE'":{"main":[[]]},"chat":{"ai_languageModel":[[{"node":"Werkzaamheden","type":"ai_languageModel","index":0}]]},"chat1":{"ai_languageModel":[[{"node":"KLEIN MATERIAAL","type":"ai_languageModel","index":0}]]},"chat2":{"ai_languageModel":[[{"node":"UREN BEREKENING","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.dylan8n.org","user-agent":"node","content-length":"3242","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","content-type":"application/json","sec-fetch-mode":"cors","via":"1.1 Caddy","x-forwarded-for":"86.126.140.142","x-forwarded-host":"n8n.dylan8n.org","x-forwarded-proto":"https","x-offertehulp-secret":"oh_9f4c2b1e6a7d4c77a3b2f8c1d0e9a6f3"},"params":{},"query":{},"body":{"quoteId":"oHiykC48a5AIce19Phgf","uid":"dev-user","quote":{"id":"oHiykC48a5AIce19Phgf","userId":"C29EkAPLJzQSQgv7nwm6Uwj6agv2","status":"concept","offerteNummer":260030,"instellingen":{"btwTarief":21,"uurTariefExclBtw":45},"createdAt":{"_seconds":1770343479,"_nanoseconds":131000000},"klantinformatie":{"klanttype":"Particulier","voornaam":"Dylan","achternaam":"Vroegop","emailadres":"dylanvroegop2@gmail.com","telefoonnummer":"0657540176","straat":"2e verbindingstraat","huisnummer":"22","postcode":"4531 BJ","plaats":"Terneuzen","userId":"C29EkAPLJzQSQgv7nwm6Uwj6agv2","afwijkendProjectadres":false,"updatedAt":{"_seconds":1770343483,"_nanoseconds":694000000}},"klussen":[{"werkwijze":{"savedByUid":"C29EkAPLJzQSQgv7nwm6Uwj6agv2"},"materialen":{"lijst":[{"slotKey":"rachels","material":{"categorie":"Vuren hout","materiaalnaam":"Rachel 22x50mm 2700mm lang (Netto 21x48)","lengte":"270cm","breedte":"50mm","dikte":"22mm","prijs_incl_btw":"10","sub_categorie":"Ribben, sls, rachels","prijs":"10","subsectie":"Vuren hout"},"context":"Plafond – Houten Framewerk"},{"slotKey":"folie_buiten","material":{"categorie":"Folieën","materiaalnaam":"Miofol 125 S Gewapend Dampremmend 25x1.5m","lengte":"25m1","breedte":"1500mm","prijs_incl_btw":"75","sub_categorie":"dampremmend","prijs":"75","subsectie":"Folieën"},"context":"Plafond – Houten Framewerk"},{"slotKey":"isolatie_basis","material":{"categorie":"Isolatie","materiaalnaam":"Knauf Acoustifit 1350x600mm 100mm dik Rd 2.70)","lengte":"1350mm","breedte":"600mm","dikte":"100mm","sub_categorie":"Glaswol","subsectie":"Isolatie"},"context":"Plafond – Houten Framewerk"},{"slotKey":"randhout","material":{"categorie":"Vuren hout","materiaalnaam":"Vuren Ribben 44x69mm 4200mm lang","lengte":"420cm","breedte":"69mm","dikte":"44mm","sub_categorie":"Ribben","subsectie":"Vuren hout"},"context":"Plafond – Houten Framewerk"},{"slotKey":"beplating","material":{"categorie":"Gipsplaten","materiaalnaam":"Knauf Horizonboard 4xAK 2600x1200mm 12.5mm dik","lengte":"2600 mm","breedte":"1200 mm","dikte":"12,5 mm","subsectie":"Gipsplaten"},"context":"Plafond – Houten Framewerk"},{"slotKey":"plinten_plafond","material":{"categorie":"Afwerking","materiaalnaam":"Plint Hardhout Wit Gegrond 9x45mm 4900mm lang","lengte":"490cm","breedte":"45mm","dikte":"9mm","sub_categorie":"Plint","subsectie":"Afwerking"},"context":"Plafond – Houten Framewerk"}],"kleinMateriaal":{"mode":"inschatting"}},"maatwerk":{"basis":{"omschrijving":"Hoofdberekening voor Basis klus","items":[{"lengte":5000,"breedte":4000,"balkafstand":700,"latafstand":300,"surroundingBeams":true}]},"meta":{"title":"Plafond – Houten Framewerk","type":"plafonds","slug":"plafond-houten-framework","description":"Houten draagconstructie"}},"visualisatieUrl":"https://firebasestorage.googleapis.com/v0/b/studio-6011690104-60fbf.firebasestorage.app/o/visualisaties%2FoHiykC48a5AIce19Phgf%2Fbbd5c580-840d-4d0d-8088-406856f1f0f6.png?alt=media&token=d48555df-a211-4047-ae03-7425ff466daf","updatedAt":{"_seconds":1770343656,"_nanoseconds":255000000}}],"extras":{"transport":{"prijsPerKm":0.23,"mode":"perKm"},"winstMarge":{"mode":"percentage","percentage":10,"basis":"totaal"}},"updatedAt":{"_seconds":1770343658,"_nanoseconds":511000000}}},"webhookUrl":"https://n8n.dylan8n.org/webhook-test/offerte-test","executionMode":"test"},"pairedItem":{"item":0}}],"Create a row":[{"json":{"id":"77bb7ccd-7d98-4d54-a51e-b7a8001d4c0b","created_at":"2026-02-06T02:07:48.181251+00:00","quoteid":"oHiykC48a5AIce19Phgf","gebruikerid":"C29EkAPLJzQSQgv7nwm6Uwj6agv2","status":null,"data_json":null},"pairedItem":{"item":0}}],"BEREKENING":[{"json":{"output":"```json\n{\n  \"quote_metadata\": {\n    \"quoteid\": \"oHiykC48a5AIce19Phgf\",\n    \"userid\": \"C29EkAPLJzQSQgv7nwm6Uwj6agv2\"\n  },\n  \"materialen\": [\n    {\n      \"materiaal\": \"Rachel 22x50mm 2700mm lang (Netto 21x48)\",\n      \"klus_type\": \"plafond-houten-framework\",\n      \"prijs_per_stuk\": 10,\n      \"aantal\": 30,\n      \"hoe_berekend\": \"Plafond afmeting 5000x4000mm. Rachels h.o.h. 300mm haaks op balken. Aantal rijen: ceil(5000/300)+1 = 18 rijen. Lengte per rij = breedte plafond = 4000mm. Totaal benodigd: 18 * 4m = 72m1. Inclusief 10% zaagverlies: 79.2m1. Aantal rachels (2.7m): ceil(79.2 / 2.7) = 30 stuks.\",\n      \"slotKey\": \"rachels\"\n    },\n    {\n      \"materiaal\": \"Miofol 125 S Gewapend Dampremmend 25x1.5m\",\n      \"klus_type\": \"plafond-houten-framework\",\n      \"prijs_per_stuk\": 75,\n      \"aantal\": 1,\n      \"hoe_berekend\": \"Netto oppervlakte plafond: 20 m². Inclusief 10% overlap/snijverlies: 22 m². Rolinhoud: 25m * 1.5m = 37.5 m². Aantal rollen: ceil(22 / 37.5) = 1 stuk.\",\n      \"slotKey\": \"folie_buiten\"\n    },\n    {\n      \"materiaal\": \"Knauf Acoustifit 1350x600mm 100mm dik Rd 2.70)\",\n      \"klus_type\": \"plafond-houten-framework\",\n      \"prijs_per_stuk\": 0,\n      \"aantal\": 28,\n      \"hoe_berekend\": \"Netto oppervlakte plafond: 20 m². Inclusief 10% snijverlies: 22 m². Oppervlakte per plaat: 1.35m * 0.60m = 0.81 m². Aantal platen: ceil(22 / 0.81) = 28 stuks.\",\n      \"slotKey\": \"isolatie_basis\"\n    },\n    {\n      \"materiaal\": \"Vuren Ribben 44x69mm 4200mm lang\",\n      \"klus_type\": \"plafond-houten-framework\",\n      \"prijs_per_stuk\": 0,\n      \"aantal\": 12,\n      \"hoe_berekend\": \"Berekend als constructiehout (randbalken + draagbalken). Balken h.o.h. 700mm (lengterichting 5m): 7 stuks * 5m = 35m1. Randbalken (breedterichting 4m): 2 stuks * 4m = 8m1. Totaal netto: 43m1. Inclusief 10% zaagverlies: 47.3m1. Aantal balken (4.2m): ceil(47.3 / 4.2) = 12 stuks.\",\n      \"slotKey\": \"randhout\"\n    },\n    {\n      \"materiaal\": \"Knauf Horizonboard 4xAK 2600x1200mm 12.5mm dik\",\n      \"klus_type\": \"plafond-houten-framework\",\n      \"prijs_per_stuk\": 0,\n      \"aantal\": 8,\n      \"hoe_berekend\": \"Netto oppervlakte: 20 m². Inclusief 10% zaagverlies: 22 m². Oppervlakte per plaat: 2.6m * 1.2m = 3.12 m². Aantal platen: ceil(22 / 3.12) = 8 stuks.\",\n      \"slotKey\": \"beplating\"\n    },\n    {\n      \"materiaal\": \"Plint Hardhout Wit Gegrond 9x45mm 4900mm lang\",\n      \"klus_type\": \"plafond-houten-framework\",\n      \"prijs_per_stuk\": 0,\n      \"aantal\": 5,\n      \"hoe_berekend\": \"Omtrek plafond: 2 * (5000 + 4000) = 18000mm = 18m1. Inclusief 10% zaagverlies: 19.8 m1. Aantal plinten (4.9m): ceil(19.8 / 4.9) = 5 stuks.\",\n      \"slotKey\": \"plinten_plafond\"\n    }\n  ]\n}\n```"},"pairedItem":{"item":0}}],"Code in JavaScript1":[{"json":{"body":{"quoteId":"oHiykC48a5AIce19Phgf","quote":{"userId":"C29EkAPLJzQSQgv7nwm6Uwj6agv2","klussen":[{"werkwijze":{"savedByUid":"C29EkAPLJzQSQgv7nwm6Uwj6agv2"},"materialen":{"lijst":[{"slotKey":"rachels","material":{"categorie":"Vuren hout","materiaalnaam":"Rachel 22x50mm 2700mm lang (Netto 21x48)","lengte":"270cm","breedte":"50mm","dikte":"22mm","prijs_incl_btw":"10","sub_categorie":"Ribben, sls, rachels","prijs":"10","subsectie":"Vuren hout"},"context":"Plafond – Houten Framewerk"},{"slotKey":"folie_buiten","material":{"categorie":"Folieën","materiaalnaam":"Miofol 125 S Gewapend Dampremmend 25x1.5m","lengte":"25m1","breedte":"1500mm","prijs_incl_btw":"75","sub_categorie":"dampremmend","prijs":"75","subsectie":"Folieën"},"context":"Plafond – Houten Framewerk"},{"slotKey":"isolatie_basis","material":{"categorie":"Isolatie","materiaalnaam":"Knauf Acoustifit 1350x600mm 100mm dik Rd 2.70)","lengte":"1350mm","breedte":"600mm","dikte":"100mm","sub_categorie":"Glaswol","subsectie":"Isolatie"},"context":"Plafond – Houten Framewerk"},{"slotKey":"randhout","material":{"categorie":"Vuren hout","materiaalnaam":"Vuren Ribben 44x69mm 4200mm lang","lengte":"420cm","breedte":"69mm","dikte":"44mm","sub_categorie":"Ribben","subsectie":"Vuren hout"},"context":"Plafond – Houten Framewerk"},{"slotKey":"beplating","material":{"categorie":"Gipsplaten","materiaalnaam":"Knauf Horizonboard 4xAK 2600x1200mm 12.5mm dik","lengte":"2600 mm","breedte":"1200 mm","dikte":"12,5 mm","subsectie":"Gipsplaten"},"context":"Plafond – Houten Framewerk"},{"slotKey":"plinten_plafond","material":{"categorie":"Afwerking","materiaalnaam":"Plint Hardhout Wit Gegrond 9x45mm 4900mm lang","lengte":"490cm","breedte":"45mm","dikte":"9mm","sub_categorie":"Plint","subsectie":"Afwerking"},"context":"Plafond – Houten Framewerk"}],"kleinMateriaal":{"mode":"inschatting"}},"maatwerk":{"basis":{"omschrijving":"Hoofdberekening voor Basis klus","items":[{"lengte":5000,"breedte":4000,"balkafstand":700,"latafstand":300,"surroundingBeams":true}]},"meta":{"title":"Plafond – Houten Framewerk","type":"plafonds","slug":"plafond-houten-framework","description":"Houten draagconstructie"}},"visualisatieUrl":"https://firebasestorage.googleapis.com/v0/b/studio-6011690104-60fbf.firebasestorage.app/o/visualisaties%2FoHiykC48a5AIce19Phgf%2Fbbd5c580-840d-4d0d-8088-406856f1f0f6.png?alt=media&token=d48555df-a211-4047-ae03-7425ff466daf","updatedAt":{"_seconds":1770343656,"_nanoseconds":255000000}}]}}},"pairedItem":{"item":0}}],"Code in JavaScript":[{"json":{"quote_metadata":{"quoteid":"oHiykC48a5AIce19Phgf","userid":"C29EkAPLJzQSQgv7nwm6Uwj6agv2"},"materialen":[{"materiaal":"Rachel 22x50mm 2700mm lang (Netto 21x48)","klus_type":"plafond-houten-framework","prijs_per_stuk":10,"aantal":30,"hoe_berekend":"Plafond afmeting 5000x4000mm. Rachels h.o.h. 300mm haaks op balken. Aantal rijen: ceil(5000/300)+1 = 18 rijen. Lengte per rij = breedte plafond = 4000mm. Totaal benodigd: 18 * 4m = 72m1. Inclusief 10% zaagverlies: 79.2m1. Aantal rachels (2.7m): ceil(79.2 / 2.7) = 30 stuks.","slotKey":"rachels"},{"materiaal":"Miofol 125 S Gewapend Dampremmend 25x1.5m","klus_type":"plafond-houten-framework","prijs_per_stuk":75,"aantal":1,"hoe_berekend":"Netto oppervlakte plafond: 20 m². Inclusief 10% overlap/snijverlies: 22 m². Rolinhoud: 25m * 1.5m = 37.5 m². Aantal rollen: ceil(22 / 37.5) = 1 stuk.","slotKey":"folie_buiten"},{"materiaal":"Knauf Acoustifit 1350x600mm 100mm dik Rd 2.70)","klus_type":"plafond-houten-framework","prijs_per_stuk":0,"aantal":28,"hoe_berekend":"Netto oppervlakte plafond: 20 m². Inclusief 10% snijverlies: 22 m². Oppervlakte per plaat: 1.35m * 0.60m = 0.81 m². Aantal platen: ceil(22 / 0.81) = 28 stuks.","slotKey":"isolatie_basis"},{"materiaal":"Vuren Ribben 44x69mm 4200mm lang","klus_type":"plafond-houten-framework","prijs_per_stuk":0,"aantal":12,"hoe_berekend":"Berekend als constructiehout (randbalken + draagbalken). Balken h.o.h. 700mm (lengterichting 5m): 7 stuks * 5m = 35m1. Randbalken (breedterichting 4m): 2 stuks * 4m = 8m1. Totaal netto: 43m1. Inclusief 10% zaagverlies: 47.3m1. Aantal balken (4.2m): ceil(47.3 / 4.2) = 12 stuks.","slotKey":"randhout"},{"materiaal":"Knauf Horizonboard 4xAK 2600x1200mm 12.5mm dik","klus_type":"plafond-houten-framework","prijs_per_stuk":0,"aantal":8,"hoe_berekend":"Netto oppervlakte: 20 m². Inclusief 10% zaagverlies: 22 m². Oppervlakte per plaat: 2.6m * 1.2m = 3.12 m². Aantal platen: ceil(22 / 3.12) = 8 stuks.","slotKey":"beplating"},{"materiaal":"Plint Hardhout Wit Gegrond 9x45mm 4900mm lang","klus_type":"plafond-houten-framework","prijs_per_stuk":0,"aantal":5,"hoe_berekend":"Omtrek plafond: 2 * (5000 + 4000) = 18000mm = 18m1. Inclusief 10% zaagverlies: 19.8 m1. Aantal plinten (4.9m): ceil(19.8 / 4.9) = 5 stuks.","slotKey":"plinten_plafond"}]},"pairedItem":{"item":0}}],"Edit Fields6":[{"json":{"body":{"quoteId":"oHiykC48a5AIce19Phgf","quote":{"userId":"C29EkAPLJzQSQgv7nwm6Uwj6agv2","klussen":[{"werkwijze":{"savedByUid":"C29EkAPLJzQSQgv7nwm6Uwj6agv2"},"materialen":{"lijst":[{"slotKey":"rachels","material":{"categorie":"Vuren hout","materiaalnaam":"Rachel 22x50mm 2700mm lang (Netto 21x48)","lengte":"270cm","breedte":"50mm","dikte":"22mm","prijs_incl_btw":"10","sub_categorie":"Ribben, sls, rachels","prijs":"10","subsectie":"Vuren hout"},"context":"Plafond – Houten Framewerk"},{"slotKey":"folie_buiten","material":{"categorie":"Folieën","materiaalnaam":"Miofol 125 S Gewapend Dampremmend 25x1.5m","lengte":"25m1","breedte":"1500mm","prijs_incl_btw":"75","sub_categorie":"dampremmend","prijs":"75","subsectie":"Folieën"},"context":"Plafond – Houten Framewerk"},{"slotKey":"isolatie_basis","material":{"categorie":"Isolatie","materiaalnaam":"Knauf Acoustifit 1350x600mm 100mm dik Rd 2.70)","lengte":"1350mm","breedte":"600mm","dikte":"100mm","sub_categorie":"Glaswol","subsectie":"Isolatie"},"context":"Plafond – Houten Framewerk"},{"slotKey":"randhout","material":{"categorie":"Vuren hout","materiaalnaam":"Vuren Ribben 44x69mm 4200mm lang","lengte":"420cm","breedte":"69mm","dikte":"44mm","sub_categorie":"Ribben","subsectie":"Vuren hout"},"context":"Plafond – Houten Framewerk"},{"slotKey":"beplating","material":{"categorie":"Gipsplaten","materiaalnaam":"Knauf Horizonboard 4xAK 2600x1200mm 12.5mm dik","lengte":"2600 mm","breedte":"1200 mm","dikte":"12,5 mm","subsectie":"Gipsplaten"},"context":"Plafond – Houten Framewerk"},{"slotKey":"plinten_plafond","material":{"categorie":"Afwerking","materiaalnaam":"Plint Hardhout Wit Gegrond 9x45mm 4900mm lang","lengte":"490cm","breedte":"45mm","dikte":"9mm","sub_categorie":"Plint","subsectie":"Afwerking"},"context":"Plafond – Houten Framewerk"}],"kleinMateriaal":{"mode":"inschatting"}},"maatwerk":{"basis":{"omschrijving":"Hoofdberekening voor Basis klus","items":[{"lengte":5000,"breedte":4000,"balkafstand":700,"latafstand":300,"surroundingBeams":true}]},"meta":{"title":"Plafond – Houten Framewerk","type":"plafonds","slug":"plafond-houten-framework","description":"Houten draagconstructie"}},"visualisatieUrl":"https://firebasestorage.googleapis.com/v0/b/studio-6011690104-60fbf.firebasestorage.app/o/visualisaties%2FoHiykC48a5AIce19Phgf%2Fbbd5c580-840d-4d0d-8088-406856f1f0f6.png?alt=media&token=d48555df-a211-4047-ae03-7425ff466daf","updatedAt":{"_seconds":1770343656,"_nanoseconds":255000000}}],"quote_notes":null}}},"pairedItem":{"item":0}}]},"versionId":"e188cc42-5b8a-4678-8a41-1f172ad39870","activeVersionId":null,"versionCounter":1930,"triggerCount":1,"shared":[{"updatedAt":"2025-12-01T18:13:49.908Z","createdAt":"2025-12-01T18:13:49.908Z","role":"workflow:owner","workflowId":"jNsZ7b8Vwc5FsLcg","projectId":"1IHS6Smm2tQg1Ie9","project":{"updatedAt":"2025-11-26T06:06:09.752Z","createdAt":"2025-11-26T05:59:32.393Z","id":"1IHS6Smm2tQg1Ie9","name":"dylan vroegop <dylanvroegop2@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6c0e039e-9dac-4765-9dd5-ee0e4201c6c1","projectRelations":[{"updatedAt":"2025-11-26T05:59:32.395Z","createdAt":"2025-11-26T05:59:32.395Z","userId":"6c0e039e-9dac-4765-9dd5-ee0e4201c6c1","projectId":"1IHS6Smm2tQg1Ie9","user":{"updatedAt":"2026-02-07T06:30:49.000Z","createdAt":"2025-11-26T05:59:31.699Z","id":"6c0e039e-9dac-4765-9dd5-ee0e4201c6c1","email":"dylanvroegop2@gmail.com","firstName":"dylan","lastName":"vroegop","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-26T06:07:02.721Z","personalization_survey_n8n_version":"1.121.2","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"9TEmzMUH5QQ33Szw","userActivatedAt":1764167952541,"npsSurvey":{"responded":true,"lastShownAt":1768034168799},"dismissedCallouts":{"aiAgentStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-07","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-02T08:38:50.026Z","createdAt":"2026-01-02T08:38:50.026Z","id":"UYHHwSu1HXBzFiw9","name":"offertehulp"}],"activeVersion":null}